* {
    box-sizing: border-box;
  }

  body {
    display: grid;
    background-color: green;
    margin: 0;
    grid-template-areas:
        "flamebox"
        "knightword"
        "letterbuttons"
        "replay";
  }

  #flame-box {
    grid-area: "flamebox";
    display: grid;
    height: 300px;
    background-color: orange;
  }

  #knight {
    position: relative;
    justify-content: center;
  }

  #knight > img {
    width: 25%;
    position: absolute;
  }

  #head {
    position: absolute;
    left: 40%;
    top: 15%;
    z-index: 5;
  }

  #torso {
    position: absolute;
    left: 35%;
    top: 30%;
    z-index: 4;
  }

  #right-arm {
    position: absolute;
    left: 30%;
    top: 15%;
    z-index: 3;
  }
  
  #left-arm {
    position: absolute;
    left: 43%;
    top: 18%;
    z-index: 6;
  }

  #right-leg {
    position: absolute;
    left: 27%;
    top: 49%;
    z-index: 2;
  }

  #left-leg {
    position: absolute;
    left: 40%;
    top: 49%;
    z-index: 1;
  }

  #word-box {
    grid-area: "knightword";
    height: 50px;
    background-color: purple;
    text-align: center;
    padding: 10px auto 0px;
    margin: 5px auto;
  }

  #knights-word {
    font-size: 30px;
    margin: 5px auto 0px;
    bottom: 0;
  }

  #alphabuttons {
    grid-area: "letterbuttons";
    display: flex;
    flex-wrap: wrap;
    height: 165px;
    position: center;
    background-color: blue;
    justify-content: center;
    margin: auto;
    padding: 10px 5px;
  }

  .letter {
    font-size: 15px;
    width: 35px;
    height: 35px;
    margin: 2px 4px;
  }

  #replay {
    grid-area: "replay";
    display: flex;
    margin: 0 auto;
    font-size: 15px;
  }