* {
    box-sizing: border-box;
  }

  html {
    background: url("https://i.imgur.com/Vt86LII.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  body {
    display: grid;
    position: relative;
    justify-content: center;
    margin: 0;
    width: 400px;
    height: 613px;
    font-family: Georgia;
    text-align: center;
    grid-template-areas:
        "flamebox"
        "knightword"
        "letterbuttons"
        "replay";
  }

  #flame-box {
    grid-area: "flamebox";
    display: grid;
    background-image: url("https://i.imgur.com/jcub6kI.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 350px;
    /* background-color: orange; */
  }

  #knight {
    position: relative;
    justify-content: center;
  }

  #knight > img {
    width: 30%;
  }

  #head {
    position: absolute;
    left: 41%;
    top: 27%;
    z-index: 5;
  }

  #torso {
    position: absolute;
    left: 35%;
    top: 42%;
    z-index: 4;
  }

  #right-arm {
    position: absolute;
    left: 29%;
    top: 25%;
    z-index: 3;
  }
  
  #left-arm {
    position: absolute;
    left: 45%;
    top: 29%;
    z-index: 6;
  }

  #right-leg {
    position: absolute;
    left: 26%;
    top: 61%;
    z-index: 2;
  }

  #left-leg {
    position: absolute;
    left: 41%;
    top: 61%;
    z-index: 1;
  }

  #word-box {
    grid-area: "knightword";
    height: 50px;
    /* background-color: purple; */
    text-align: center;
    padding: 10px auto 0px;
    margin: 5px 2px;
  }

  #knights-word {
    font-size: 30px;
    font-family: Georgia;
    color: white;
    margin: 5px auto 0px;
    bottom: 0;
    text-shadow: 1px 1px 5px black;
  }

  #alphabuttons {
    grid-area: "letterbuttons";
    display: flex;
    flex-wrap: wrap;
    height: 165px;
    position: center;
    justify-content: center;
    margin: 5px auto;
    padding: 10px 5px;
    bottom: 25%;
  }

  .letter {
    font-size: 15px;
    color: white;
    width: 35px;
    height: 35px;
    margin: 2px 4px;
    background-color: gray;
    border-radius: 25%;
    font-family: Georgia;
  }

  #replay, #pre-game-message > p, #start {
    font-size: 15px;
    font-family: Georgia;
  }

  .replay {
    grid-area: "replay";
    /* position: absolute;
    left: 37%; */
    margin: auto;
    bottom: 25px;
    font-size: 15px;
    color: light gray;
    background-color: gray;
    border-radius: 5px;
    font-family: Georgia;
  }

  #pre-game-message, #victory, #defeat, #wizard {
    position: absolute;
    background: url("https://i.imgur.com/ywHmj7F.jpg");
    width: 300px;
    height: 200px;
    margin: 0px auto;
    top: 30%;
    left: 12%;
    z-index: 10;
    text-align: center;
    justify-content: center;
    border: 5px solid rgb(79, 50, 32);
    border-style: groove;
    border-radius: 5px;
  }

  #pre-game-message > p, #victory > p, #defeat > p, #wizard > p {
    margin: 20px;
    font-weight: bold;
    color: white;
  }

  #start, .replay {
    background-color: rgb(79, 50, 32);
    border-radius: 5px;
    margin: 0px;
    color: white;
  }

  @media only screen and (min-width: 500px) {
    body {
      max-width: 500px;
      margin: 15px auto 0px;
    }

    #head {
      top: 28%;
    }

    #torso {
      top: 43%;
    }

    #right-arm {
      top: 27%;
    }

    #left-arm {
      top: 30%;
    }

    #replay {
      left: 40%;
    }
  }