* {
    box-sizing: border-box;
  }

  body {
    display: grid;
    background-color: green;
    margin: 0;
    grid-template-areas:
        "flamebox"
        "knightword"
        "letterbuttons"
        "replay";
  }

  #flame-box {
    grid-area: "flamebox";
    height: 300px;
    background-color: red;
  }

  #word-box {
    grid-area: "knightword";
    height: 50px;
    background-color: purple;
    text-align: center;
    padding: 10px auto 0px auto;
  }

  #knights-word {
    font-size: 30px;
    margin: 5px 10px 0px auto;
    bottom: 0;
  }

  #alphabuttons {
    grid-area: "letterbuttons";
    display: flex;
    flex-wrap: wrap;
    height: 165px;
    position: center;
    background-color: blue;
    justify-content: center;
    margin: auto;
    padding: 10px 5px;
  }

  .letter {
    font-size: 15px;
    width: 35px;
    height: 35px;
    margin: 2px 4px;
  }

  #replay {
    grid-area: "replay";
    display: flex;
    margin: 0 auto;
    font-size: 15px;
  }